**/*FUTURE*
**/*FUTURE*/
**/__OLD__**
**/__OLD__**/
**/__pycache__
**/__pycache__/
**/**__DEPRECATED__**
**/**__DEPRECATED__**/
**/**TEST**
**/**TEST**/
**/**IGNORE**
**/**IGNORE**/
**/**checkpoint**
**/**checkpoint**/

solutions
pretrained_operators__density_1.0
result/numerical**/**.pth
**/**.ipynb
**inference**.pth

**.log